<div class="col s12 m4 l4">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/office.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>
        Author: quynv
      </p>
      <p>
        Published: 12-10-2015
      </p>
      <div class="collection">
        <a href="#!" class="collection-item">Add/remove favourites</a>
      </div>
    </div>
  </div>
</div>
