<div class="navbar-fixed">
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Framgia</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Books</a></li>
          <li><a href="#">Users</a></li>
          <li><a href="#">Activities</a></li>
          <li>
            <a class="dropdown-button" href="#!" data-constrainwidth="false" data-activates="dropdown1">
            Username
            <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
          <ul id="dropdown1" class="dropdown-content expand-info">
            <li class="avatar-area">
              <img class="circle" src="images/no_avatar.png" alt="avatar" width="60" height="60">
            </li>
            <li><a href="#!">Profile</a></li>
            <li><a href="#!">Favourites</a></li>
            <li><a href="#!">Requested books</a></li>
            <li class="divider"></li>
            <li><a href="#!">Setting</a></li>
            <li class="divider"></li>
            <li><a href="sign_in.html">Logout</a></li>
          </ul>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>