{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container row">
        <div class="col s12 m6 l4">
            <div class="book-item">
                <div class="book" data-id="{{ book.id }}">
                    <img src="{{ book.cover }}" height="408" width="268">
                </div>
            </div>
            <div class="state">
                <label>Drop me!</label>
                <a class='dropdown-button btn btn-block' href='#' data-activates='dropdown-state'>Reading</a>

                <!-- Dropdown Structure -->
                <ul id='dropdown-state' class='dropdown-content'>
                    <li><a href="#!">Want to read</a></li>
                    <li><a href="#!">Reading</a></li>
                    <li><a href="#!">Read</a></li>
                </ul>
            </div>
            <a class="btn btn-block orange darken-3">Add to favourites</a>
        </div>
        <div class="col s12 m6 l8">
            <h2>{{ book.title }}.</h2>

            <p><strong>Author: </strong>{{ book.author }}.</p>

            <p><strong>Publish date: </strong> {{ book.publish_date|date:'Y-m-d' }}</p>

            <p><strong>Page: </strong> {{ book.pages }} pages.</p>

            <p><strong>Description: </strong> {{ book.description }}</p>

            <p><strong>Categoties:</strong>
                <a class="chip tag" href="#">javimuu</a>
                <a class="chip tag" href="#">javimuu</a>
                <a class="chip tag" href="#">javimuu</a>
                <a class="chip tag" href="#">javimuu</a>
                <a class="chip tag" href="#">javimuu</a>
            </p>
        </div>
    </div>
  <div class="container" id="review-container">
    {% include 'reviews/view.html' with reviews=book.review_set.all %}
  </div>
  <div id="modal-review" class="modal" data-id="{{ book.id }}">
    <div class="modal-content">

    </div>
    <div class="modal-footer">
      <a href="javascript:void(0);" class="waves-effect waves-green btn-flat" data-url="" id="save-review">Save</a>
    </div>
  </div>
{% endblock %}
{% block css %}
{% endblock %}
{% block js %}
    <script src="{% static 'js/review.js' %}"></script>
{% endblock %}