{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% block content %}
{% include "layouts/banner.html" %}

<div class="had-container row">
    <div class="session col s12 m12 l9">
        <div class="row">
            <nav class="white" style="box-shadow: none">
                <div class="nav-wrapper">
                    <ul id="nav-mobile" class="right">
                        <li><a href="#"><i class="material-icons">view_module</i></a></li>
                        <li><a href="#"><i class="material-icons">view_list</i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="row">
            {% for book in books %}
            {% include "_includes/book_preview.html" with book=book %}
            {% endfor %}
        </div>
    </div>
    <div class="hide-on-med-and-down col m3 l3">
        <div class="row">
            <h5><a href="#">Search</a></h5>

            <form method="get">
                <input type="text" name="search" placeholder="Enter text">
                <button class="waves-effect waves-light btn" type="submit">Search</button>
            </form>
        </div>
        <div class="row">
            <h5><a href="#">Activities</a></h5>
            <ul class="collection overflow activities">
                <li class="collection-item avatar">
                    <img src="images/no_avatar.png" alt="" class="circle">
                    <span class="title">Title</span>

                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <img src="images/no_avatar.png" alt="" class="circle">
                    <span class="title">Title</span>

                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <img src="images/no_avatar.png" alt="" class="circle">
                    <span class="title">Title</span>

                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <img src="images/no_avatar.png" alt="" class="circle">
                    <span class="title">Title</span>

                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <img src="images/no_avatar.png" alt="" class="circle">
                    <span class="title">Title</span>

                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
            </ul>
        </div>
        <hr>
        <div class="row">
            <h5><a href="#">Favourites</a></h5>
            <ul class="gallery">
                <li>
                    <img src="{% static 'images/office.jpg' %}" width="90" height="90">
                </li>
                <li>
                    <img src="{% static 'images/office.jpg' %}" width="90" height="90">
                </li>
                <li>
                    <img src="{% static 'images/office.jpg' %}" width="90" height="90">
                </li>
                <li>
                    <img src="{% static 'images/office.jpg' %}" width="90" height="90">
                </li>
                <li>
                    <img src="{% static 'images/office.jpg' %}" width="90" height="90">
                </li>
                <li>
                    <img src="{% static 'images/office.jpg' %}" width="90" height="90">
                </li>
            </ul>
        </div>
        <div class="row">
            <h5><a>Categories</a></h5>
            <a class="chip tag" href="#">javimuu</a>
        </div>
    </div>
</div>


{% include "layouts/extensions.html" %}
{% endblock %}