<form method="post" id="submit-form" class=" col s12" action="{{action}}">
{% csrf_token %}
  <div class="row margin">
    <div class="input-field col s12">
        {{form.title}}
      <label class="center-align" for="{{form.title.id}}" data-error="wrong">Title</label>
    </div>
      <div class="input-field col s12 offset-s1 red-text text-darken-5">
      {% for error in form.title.errors %}
        <span class="text-center">{{ error }}</span>
        {% endfor %}
      </div>
  </div>
  <div class="row margin">
    <div class="input-field col s12">
      {{form.description}}
      <label for="description">Description</label>
    </div>
      <div class="input-field col s12 offset-s1 red-text text-darken-5"
          {% for error in form.description.errors %}
            <span class="text-center">{{ error }}</span>
            {% endfor %}
      </div>
  </div>
  <div class="row margin">
    <div class="input-field col s12">
      <button type="submit" class="btn cyan waves-effect waves-light right">{{button}}</button>
    </div>
  </div>
</form>