<header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
        <nav class="cyan">
            <div class="nav-wrapper">

                <ul class="left">
                  <li><h1 class="logo-wrapper"><a href="/admin/" class="brand-logo darken-1"><img src="Changelogs%20%7C%20Materialize%20-%20Material%20Design%20Admin%20Template_files/materialize-logo.png" alt=""></a> <span class="logo-text">BRS</span></h1></li>
                </ul>
                <div class="header-search-wrapper hide-on-med-and-down">
                    <i class="mdi-action-search"></i>
                    <input name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize" type="text">
                </div>
            </div>
        </nav>
    </div>
    <!-- end header nav-->
</header>