<h5>{{ reviews|length }} Reviews<a class="right" href="javascript:void(0);" id="new-review">Write a review</a></h5>
<ul class="collection list-review">
    {% for review in reviews %}
      <li class="collection-item avatar review-item">
        <img src="images/no_avatar.png" alt="" class="circle">
        <a href="#">quynv</a><span class="teal-text">&nbsp;&nbsp;&nbsp;<small>Rated: </small>{{ review.rating }} <small>stars</small></span>
          <blockquote>
          {{ review.review }}
          <cite>{{ review.created_at|timesince }} ago</cite>
          </blockquote>
          <div class="row">
              <a href="javascript:void(0);" class="num-comment left">{{ review.comments|length }} comments</a>
              <a href="javascript:void(0);" class="wite-comment right">Write a comment</a>
          </div>
        <ul class="collection list-comment" id="comment-container-{{ review.id }}">
          {% for comment in review.comments %}
              <li class="collection-item avatar">
                <img src="images/no_avatar.png" alt="" class="circle">
                <a href="#">javimuu</a>
                <p>
                    {{ comment.comment }}
                </p>
                <a href="javascript:void(0);" data-beloworigin="true"  data-activates='comment-{{ comment.id }}' class="dropdown-button secondary-content"><i class="material-icons">more_vert</i></a>
                <ul id='comment-{{ comment.id }}' class='dropdown-content'>
                  <li><a href="#!">Edit</a></li>
                  <li><a href="#!">Delete</a></li>
                </ul>
              </li>
          {% endfor %}

        </ul>
        <a href="javascript:void(0);" data-beloworigin="true"  data-activates='review-{{ review.id }}' class="dropdown-button secondary-content"><i class="material-icons">more_vert</i></a>
        <ul id='review-{{ review.id }}' class='dropdown-content'>
          <li><a href="#!">Comment</a></li>
          <li><a href="javascript:void(0);" class="edit-review" data-id="{{ review.id }}">Edit</a></li>
          <li><a href="javascript:void(0);" class="delete-review" data-id="{{ review.id }}" data-csrf="{{ csrf_token }}">Delete</a></li>
        </ul>
      </li>
    {% endfor %}
</ul>
<script type="text/javascript">
    $(document).ready(function(){
        $('.dropdown-button').dropdown();
    })
</script>