<h5>{{ reviews|length }} Reviews<a class="right" href="javascript:void(0);" id="new-review">Write a review</a></h5>
<ul class="collection list-review">
    {% for review in reviews %}
      <li class="collection-item avatar review-item">
        <img src="images/no_avatar.png" alt="" class="circle">
        <a href="#">quynv</a><span class="teal-text">&nbsp;&nbsp;&nbsp;<small>Rated: </small>{{ review.rating }} <small>stars</small></span>
          <blockquote>
          {{ review.review }}
          <cite>{{ review.created_at|timesince }} ago</cite>
          </blockquote>
          <div class="row">
              <a href="javascript:void(0);" class="num-comment left">{{ review.comment_set.all|length }} comments</a>
              <a href="javascript:void(0);" class="write-comment right" data-id="{{ review.id }}">Write a comment</a>
          </div>
        <ul class="collection list-comment" id="comment-container-{{ review.id }}" data-id="{{ review.id }}">
            {% include 'comments/view.html' with comments=review.comment_set.all %}
        </ul>
        <a href="javascript:void(0);" data-beloworigin="true"  data-activates='review-{{ review.id }}' class="dropdown-button secondary-content"><i class="material-icons">more_vert</i></a>
        <ul id='review-{{ review.id }}' class='dropdown-content'>
          <li><a href="javascript:void(0);" class="write-comment" data-id="{{ review.id }}">Comment</a></li>
          <li><a href="javascript:void(0);" class="edit-review" data-id="{{ review.id }}">Edit</a></li>
          <li><a href="javascript:void(0);" class="delete-review" data-id="{{ review.id }}" data-csrf="{{ csrf_token }}">Delete</a></li>
        </ul>
      </li>
    {% endfor %}
</ul>
<script type="text/javascript">
    $(document).ready(function(){
        $('.dropdown-button').dropdown();
    })
</script>